body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

.container
{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #17171c;
    height: 910px;
    width: 450px;
    font-family: "Work Sans", "sans-serif";

}

#display
{
    width: 450px;
    height: 350px;
    /* background-color: rgb(197, 197, 197); */
    color: white;

}

#keyboard
{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    box-sizing: border-box;
    padding: 30px 13px;
    /* justify-content: center; */

}

.btn, .btn button
{
    height: 75px;
    width: 95px;
    border: none;
    border-radius: 24px;
    color: white;

    
}
.btn
{
    height: 112px;
    width: 105px;
    text-align: center;
}

.nrml
{
    background-color: #2E2F38;
}

.row1
{
    background-color: #4E505F;
}

.clmn
{
    background-color: #4B5EFC;
}