body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 11px;
    background-color: #17171c;
    height: 856px;
    width: 430px;
    font-family: "Work Sans", "sans-serif";
    /* gap: 50px; */
    justify-content: space-between;
    border-radius: 5px;
    -webkit-box-shadow: 13px 7px 17px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 7px 17px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 7px 17px -6px rgba(0, 0, 0, 0.75);
}


.dis {
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 19px;

}

#display {
    width: 380px;
    height: 96px;
    /* background-color: rgb(197, 197, 197); */
    color: white;
    font-size: 96px;
    text-align: right;
    overflow-x: scroll;
    overflow-y: hidden;
    font-weight: 300;
}

#display::-webkit-scrollbar , #answer::-webkit-scrollbar{
    display: none;
}

#answer
{
    width: 380px;
    height: 40px;
    /* background-color: rgb(197, 197, 197); */
    color: rgba(255, 255, 255, 0.445);
    font-size: 40px;
    text-align: right;
    overflow-x: scroll;
    overflow-y: hidden;
    font-weight: 300;
}
#keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    box-sizing: border-box;
    padding: 30px 13px;
    /* justify-content: center; */

}

.btn,
.btn button {
    height: 75px;
    width: 95px;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 32px;

}

.btn {
    height: 112px;
    width: 101px;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
}

.nrml {
    background-color: #2E2F38;
}

.row1 {
    background-color: #4E505F;
}

.clmn {
    background-color: #4B5EFC;
}

hr{
    width: 60px;
}